{% set rand = random() %}

{% set idor_display_criteria = idor_token(itemtype) %}

<div class="card card-sm sort-container">
    <input type="hidden" name="_idor_token" value="{{ idor_display_criteria }}" />
    <div class="list-group list-group-flush list-group-hoverable" id="sort-criteria-list-{{ rand }}">
        {% if p['sort'] is not array %}
            {% set p = p|merge({
                'sort': [p['sort']]
            }) %}
        {% endif %}
        {% for i in p['sort']|keys %}
            {{ call("Glpi\\Search\\Input\\QueryBuilder::displaySortCriteria", [{
                itemtype: itemtype,
                num: i,
                p: p
            }]) }}
        {% endfor %}
        <a id="more-criteria{{ rand }}" role="button" class="normalcriteria fold-search list-group-item p-2 b-0 d-none"></a>
    </div>

    <div class="card-footer d-flex">
        <button id="addsort{{ rand }}" class="btn btn-sm btn-outline-secondary me-1 add_sort" type="button">
            <i class="ti ti-square-plus"></i>
            <span class="d-none d-sm-block">{{ __('Add another sort') }}</span>
        </button>
    </div>
</div>
