{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

<div id="webhook-payload-editor-container" data-webhook-id="{{ item.fields['id'] }}">
   <div id="webhook-payload-editor-toolbar" class="mx-1" style="font-size: 1.25em">
      <button class="btn btn-icon btn-ghost-secondary">
         <i class="fas fa-save editor_save" title="{{ _x('button', 'Save') }}"></i>
      </button>
      <button class="btn btn-icon btn-ghost-secondary">
         <i class="fas fa-fw fa-search editor_find" title="{{ __('Search') }}"></i>
      </button>
   </div>
   <div id="payload2" class="webhook-payload-editor" style="height: 350px"></div>
</div>
<script>
    $(() => {
        const monaco = new GLPI.MonacoEditor('payload2', 'twig', "{{ item.fields['payload']|escape }}", {{ response_schema|json_encode|raw }});
        $("#webhook-payload-editor-container .editor_find").on('click', function() {
            monaco.editor.getAction('actions.find').run();
        });
        $("#webhook-payload-editor-container .editor_save").on('click', function() {
            $.ajax({
                url: CFG_GLPI['root_doc'] + '/ajax/webhook.php',
                type: 'POST',
                data: {
                    action: 'update_payload_template',
                    webhook_id: $("#webhook-payload-editor-container").data('webhook-id'),
                    payload_template: editor.getValue(),
                }
            }).done(function() {
                // eslint-disable-next-line no-undef
                glpi_toast_info(__('Saved'));
            });
        });
    });
</script>
